:root {
    /* define some variables */

    --font-sans: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-mono: Consolas, monaco, 'Ubuntu Mono', 'Liberation Mono', 'Courier New', Courier, monospace;
    --font-serif: Times, "Times New Roman", Georgia, serif;

    /**
     * Light theme (default)
     */
    --headings: #000000;                /* color of headings */
    --text: #1A1A1A;                    /* color of normal text */
    --metadata: #666666;                /* color of special text like article date */
    --background: #FFFFFF;              /* main background color */
    --contrastive-background: #F6F8FA;  /* background color for special elements like blockquotes */
    --border: #E5E7EB;                  /* color for lines */
    --link: #0070F3;                    /* color for links */
    --link-hover: #0366D6;              /* color for links that the mouse is moving over */
    --selection-text: #0C4047;          /* color for highlighted text */
    --selection-background: #79FFE1;    /* background color for highlighted text */
}

@media (prefers-color-scheme: dark) {
    /**
     * Dark theme
     */
    :root {
        --headings: #FFFFFF;
        --text: #C9D1D9;
        --metadata: #BBBBBB;
        --background: #0d1117;
        --contrastive-background: #343a40;
        --border: #616566;
        --link: #9ED5E1;
        --link-hover: #60838A;
        --selection-background: #7928CA;
        --selection-text: #FFFFFF;
    }
}

* {
    /* Reset margins and padding */
    margin: 0;
    padding: 0;
}

address,
area,
article,
aside,
audio,
blockquote,
datalist,
details,
dl,
fieldset,
figure,
form,
input,
iframe,
img,
meter,
nav,
ol,
optgroup,
option,
output,
p,
pre,
progress,
ruby,
section,
table,
textarea,
ul,
video {
    /* Margins for most elements */
    margin-bottom: 1rem;
}

html {
    /* The base font size from which all other sizes derive */
    font-size: 17px;
}
/* on mobile screens, we make the base font a bit smaller */
@media screen and (max-width: 480px) {
  html {
    font-size: 15px;
  }
}
@media screen and (max-width: 320px) {
  html {
    font-size: 14px;
  }
}

body {
    /* Center body in page */
    margin: 0 auto;
    max-width: 47rem;
    padding: 2rem;
    border-radius: 0.4rem;
    overflow-x: hidden;
    word-break: break-word;
    overflow-wrap: break-word;
    background: var(--background);

    /* Set body font family */
    font-family: var(--font-sans);
    /* Main body text */
    color: var(--text);
    line-height: 1.5;
}

::selection {
    /* Set background color for selected text */
    background: var(--selection-background);
    color: var(--selection-text);
}

h1,h2,h3,h4,h5,h6 {
    line-height: 1;
    color: var(--headings);
    padding-top: .875rem;
    position: relative;
}

h1,
h2,
h3 {
    color: var(--headings);
    padding-bottom: 0.1rem;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid var(--contrastive-background);
}

h4,
h5,
h6 {
    margin-bottom: .3rem;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.55rem;
}

h4 {
    font-size: 1.25rem;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: .875rem;
}

a {
    color: var(--link);
}

a:hover {
    color: var(--link-hover);
}

abbr:hover {
    /* Set the '?' cursor while hovering an abbreviation */
    cursor: help;
}

blockquote {
    padding: 1.5rem;
    background: var(--contrastive-background);
    border-left: 5px solid var(--border);
}

abbr {
    cursor: help;
}

blockquote *:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
}

body>header {
    background: var(--contrastive-background);
    border-bottom: 1px solid var(--border);
    padding: 1.5rem 1.5rem;
    
    /* This sets the right and left margins to cancel out the body's margins. It's width is still the same, but the background stretches across the page's width. */

    margin: -2rem calc(50% - 50vw) 2rem;

    /* Shorthand for:

    margin-top: -2rem;
    margin-bottom: 2rem;

    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw); */

    padding-left: calc(50vw - 50%);
    padding-right: calc(50vw - 50%);
}

header h1,
header h2,
header h3 {
    padding-bottom: 0;
    border-bottom: 0;
}

header > *:first-child {
    margin-top: 0;
    padding-top: 0;
}

header > *:last-child {
    margin-bottom: 0;
}

a img {
    margin-bottom: 0;
}

code,
pre,
kbd,
samp {
    /* Set the font family for monospaced elements */
    font-family: var(--font-mono);
}

code,
samp,
kbd,
pre {
    /* The main preformatted style. This is changed slightly across different cases. */
    background: var(--contrastive-background);
    border: 1px solid var(--border);
    border-radius: 4px;
    padding: 0.25rem 0.25rem;
    /* ↓ font-size is relative to containing element, so it scales for titles*/
    font-size: 0.9em;
}

kbd {
    /* Makes the kbd element look like a keyboard key */
    border-bottom: 3px solid var(--border);
}

pre {
    padding: 1rem 1.4rem;
    max-width: 100%;
    overflow: auto;
}

pre code {
    /* When <code> is in a <pre>, reset it's formatting to blend in */
    background: inherit;
    font-size: inherit;
    color: inherit;
    border: 0;
    padding: 0;
    margin: 0;
}

code pre {
    /* When <pre> is in a <code>, reset it's formatting to blend in */
    display: inline;
    background: inherit;
    font-size: inherit;
    color: inherit;
    border: 0;
    padding: 0;
    margin: 0;
}

details {
    /* Make the <details> look more "clickable" */
    padding: .6rem 1rem;
    background: var(--contrastive-background);
    border: 1px solid var(--border);
    border-radius: 4px;
}

summary {
    /* Makes the <summary> look more like a "clickable" link with the pointer cursor */
    cursor: pointer;
    font-weight: bold;
}

details[open] {
    /* Adjust the <details> padding while open */
    padding-bottom: .75rem;
}

details[open] summary {
    /* Adjust the <details> padding while open */
    margin-bottom: 0.5rem;
}

details[open]>*:last-child {
    /* Resets the bottom margin of the last element in the <details> while <details> is opened. This prevents double margins/paddings. */
    margin-bottom: 0;
}

dt {
    font-weight: bold;
}

dd::before {
    /* Add an arrow to data table definitions */
    content: '→ ';
}

hr {
    /* Reset the border of the <hr> separator, then set a better line */
    border: 0;
    border-bottom: 1px solid var(--border);
    margin: 1rem auto;
}

fieldset {
    margin-top: 1rem;
    padding: 2rem;
    border: 1px solid var(--border);
    border-radius: 4px;
}

legend {
    padding: auto .5rem;
}

table {
    /* border-collapse sets the table's elements to share borders, rather than floating as separate "boxes". */
    border-collapse: collapse;
    width: 100%
}

td,
th {
    border: 1px solid var(--border);
    text-align: left;
    padding: .5rem;
}

th {
    background: var(--contrastive-background);
}

tr:nth-child(even) {
    /* Set every other cell slightly darker. Improves readability. */
    background: var(--contrastive-background);
}

table caption {
    font-weight: bold;
    margin-bottom: .5rem;
}

textarea {
    /* Don't let the <textarea> extend off the screen naturally or when dragged by the user */
    max-width: 100%;
}

ol,
ul {
    /* Replace the browser default padding */
    padding-left: 2rem;
}

li {
    margin-top: .4rem;
}

ul ul,
ol ul,
ul ol,
ol ol {
    margin-bottom: 0;
}

mark {
    padding: .2rem .4rem;
    background: var(--selection-background);
    color: var(--selection-text);
}

textarea,
select,
input {
    padding: .4rem .75rem;
    margin-bottom: .5rem;
    background: var(--contrastive-background);
    color: var(--text);
    border: 1px solid var(--border);
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

nav a {
    margin-left: 1.5rem;
}

article h1 a {
    color: var(--headings);
    text-decoration: none;
}

article h1 a:hover {
    color: var(--headings);
    text-decoration: underline;
}

article header {
    font-size: 0.9rem;
    font-style: italic;
    color: var(--metadata);
    padding-bottom: 0.5rem;
}

.headerlink {
    position: absolute;
    left: -1.5rem;
    padding-right: 0.5em; /* to avoid a gap */
    color: transparent;
    text-decoration: none;
}

:hover > .headerlink, :hover > .headerlink:visited,
.headerlink:focus, .headerlink:focus:visited {
    color: var(--metadata);
}
