{% extends "base.html.jinja" %}
{% block description %}{{ page.description }}{% endblock %}
{% block title %}{{ page.title }} — {{ SITENAME }} {% endblock %}
{% block content %}        
    {{ page.content }}
{% endblock %}
